* {
  font-family: poppins;
}

.sidebar {
  background-color: oklch(30.875% 0.11611 307.617);
  color: white;;
  z-index: 1000;
  transition: width 0.3s ease;
}

.active {
  background-color: white;
  color: oklch(28.014% 0.126 306.393);
}

#main-section {
  transition: margin-left 0.3s ease;
}

/* Hide sidebar on mobile devices */
/* @media (max-width: 640px) {
  #sidebar {
    display: none;
  }
} */



