* {
  font-family: poppins;
}

.sidebar {
  background-color: oklch(23.744% 0.08606 308.127);
  color: white;;
  z-index: 1000;
  transition: width 0.3s ease;
}

.active {
  background-color: white;
  color: oklch(23.744% 0.08606 308.127);
}

#main-section {
  transition: margin-left 0.3s ease;
}

/* Hide sidebar on mobile devices */
/* @media (max-width: 640px) {
  #sidebar {
    display: none;
  }
} */



